.grid {
  columns: 1;
  column-gap: 1rem;
}

@media (min-width: 768px) {
  .grid {
    columns: 2;
  }
}

@media (min-width: 1200px) {
  .grid {
    columns: 3;
  }
}

@media print {
  .grid {
    columns: 3;
  }
}

.card {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.card p {
  padding-bottom: 8px;
}
.card p:last-of-type {
  padding-bottom: 0px;
}

.profileStat {
  display: flex;
  background-color: #0f71b4;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  align-items: flex-end;
}

.profileStat span:first-child {
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
}

.statBreak {
  border-bottom: 26px solid white;
  border-left: 12px solid transparent;
}

.profileStat span:last-child {
  background-color: white;
  color: #121212;
  font-weight: 900;
  font-size: 18px;
  padding-left: 4px;
  padding-right: 6px;
  height: 26px;
  line-height: 26px;
  border-bottom-right-radius: 3px;
  position: relative;
}
