/*@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";*/

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  /*background-color: #fafafa;*/
  overflow-y: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.MuiTabs-indicator {
  background-color: white;
}

div[role="tooltip"] {
  z-index: 15 !important;
}

.interactable {
  cursor: pointer;
  transition: all linear 0.1s;
}

.interactable:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.sticky {
  position: sticky !important;
  top: 0;
  background-color: #fafafa;
  z-index: 10;
  overflow: hidden;
}
.sticky.sticky-2 {
  top: 52px;
}
.scrolled .sticky .unitName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.onlyScrolled:not(.scrolled *) {
  display: none !important;
}

.print-only {
  display: none;
}

@media print {
  body {
    zoom: 65%;
  }
  .columns {
    display: table !important;
  }
  .columns > .column {
    display: inline-block !important;
    vertical-align: top;
  }
  .no-print {
    display: none !important;
  }
  * {
    background-color: transparent !important;
    color: black !important;
  }

  .print-only {
    display: initial;
  }

  .card-accordion-summary .MuiAccordionSummary-expandIconWrapper {
    display: none;
  }
}

hr {
  height: auto;
  background-color: transparent;
}

td.weapon-name-cell {
  white-space: nowrap;
}

.card-accordion-summary .MuiAccordionSummary-content {
  margin: 0;
}
